.rcs-scroll-to-top {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 10px;
  bottom: 40px;
  z-index: 999;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-image: url('./up-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.rcs-scroll-to-top:hover {
  opacity: 1;
  background-color: rgba(181, 255, 236, 0.3);
}
